@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-yellow-300 text-black;
}

.primary-link {
  @apply text-primary-600 hover:text-primary-400 dark:text-primary-500 dark:hover:text-primary-400
  text-glow-lg-primary-300 hover:text-glow-intense-lg-primary-300;
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}
